{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Change Password{% endblock %}

{% block js %}
<script type="text/javascript"
        src="{% static "js/jquery.pwstrength.js" %}"></script>
<script type="text/javascript">
    jQuery(function($) { $('#id_new_password').pwstrength(); });
</script>
{% endblock %}

{% block body %}
<form method="POST" action="{% url 'accounts:password_change' %}">
    {% csrf_token %}
    {{ form.non_field_errors}}
    <div class="fieldWrapper">
        <h2>Current Password:</h2>
        {{ form.current_password }}

        <h2>New Password:</h2>
        {{ form.new_password }}
    </div>
    <div id="pwindicator">
        <div class="bar"></div>
        <div class="label"></div>
    </div>
    <div class="fieldWrapper">
        <h2>Confirm Password:</h2>
        {{ form.confirm_password }}
    </div>
    <input type="submit" class="button-primary" value="Confirm">
</form>
{% endblock %}
