{% extends 'layout.html' %}
{% block body %}
    <div class="grid-75">
        <h1>Welcome!</h1>
        <p> For this project, i built a form that takes in details about a registered user and displays those details on a profile page. The profile page should only be visible once the user has logged in. The profile page should include first name, last name, email, date of birth, confirm email, short bio and the option to upload an avatar.</p>
        <p>I've also created a "change password page" that updates the user’s password. This page will ask for current password, new password and confirm password. Set up validation which checks that the current password is valid, that the new password and confirm password fields match, and that the new password follows the following policy</p>
    </div>
{% endblock %}
